<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginVersion</key>
	<string>0.2.5</string>
	<key>ServerApiVersion</key>
	<string>2.0.0</string>
	<key>IwsApiVersion</key>
	<string>1.0.0</string>
	<key>CFBundleDisplayName</key>
	<string>Enphase Envoy Plugin</string>
	<key>CFBundleName</key>
	<string>EnphaseEnvoyPlugin</string>
        <key>CFBundleIdentifier</key>
	<string>com.GlennNZ.indigoplugin.EnphaseEnvoy</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>https://github.com/Ghawken/Indigo-EnphaseEnvoy</string>
		</dict>
	</array>
</dict>
</plist>
